<div class="row">
	<div class="col-sm-2 col-sm-offset-3">
		<div class="plan_box">
			<h3>Free Plan</h3>
			<p>No Charge
				<br> Good for evaluation
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3>Good Plan</h3>
			<p>
				<br>Everything in Free Plan
				<br>Good plan for small business
			</p>
		</div>
	</div>
	<div class="col-sm-2">
		<div class="plan_box">
			<h3>Awesome Plan</h3>
			<p>
				<br> Everything in the Good Plan
				<br> Good for enterprises
			</p>
		</div>
	</div>
</div>